@model KelolaSoalAkademikModel
@{
    ViewBag.Title = "Kelola Soal Akademik";
}
<div class="mb-4">
    <p>
        Tempat mengelola soal akademik. Untuk menambah soal baru bisa klik tombol tambah soal akademik.
        Untuk menambah, menghapus, atau mengubah pertanyaan bisa klik tombol detail disetiap soal yang ada
    </p>
    <button data-target="#ModalTambahSoalAkademik" data-toggle="modal" class="btn btn-success btn-icon-split">
        <span class="icon text-white"><i class="fas fa-pen"></i></span>
        <span class="text">Tambah Soal Akademik</span>
    </button>
</div>
@if (Model.ListSoal.Count() < 1)
{
    <div>Kosong</div>
}
else
{
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">List Staff</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0" cellpadding="5">
                    <thead class="table-warning text-dark">
                        <tr>
                            <th><b>Judul Soal      </b></th>
                            <th><b>Kategori        </b></th>
                            <th><b>Waktu Pengerjaan</b></th>
                            <th><b>Jumlah Soal     </b></th>
                            <th><b>Aksi            </b></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var soalAkademik in Model.ListSoal)
                        {
                            <tr>
                                <td>@soalAkademik.Judul</td>
                                <td>@soalAkademik.Kategori</td>
                                <td>@soalAkademik.BatasWaktu menit</td>
                                <td>@soalAkademik.JumlahPertanyaan</td>
                                <td>
                                    <a asp-controller="Admin" asp-action="RincianSoalAkademik" asp-route-id="@soalAkademik.Id"
                                       class="btn btn-info">
                                        Rincian
                                    </a>
                                    <button onclick="ubahSoalAkademikModal(@soalAkademik.Id)" data-toggle="modal" class="btn btn-warning">
                                        Ubah
                                    </button>
                                    <form asp-controller="Admin" asp-action="HapusSoalAkademik" asp-route-id="@soalAkademik.Id"
                                          method="post" class="delete-button mt-1">
                                        <button type="submit" onclick="return confirm('Apa anda yakin ingin menghapus Soal @soalAkademik.Judul?')"
                                                class="btn btn-danger">
                                            Hapus
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

@*Modal*@
<div id="ModalTambahSoalAkademik" data-keyboard="false" data-backdrop="static" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Tambah Soal Akademik</h4>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-controller="Admin" asp-action="TambahSoalAkademik" method="post">
                    <div class="form-group">
                        <label asp-for="SoalAkademik.Judul" class="col-form-label"></label>
                        <span class="text-danger">*</span>
                        <input asp-for="SoalAkademik.Judul" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="SoalAkademik.Kategori" class="col-form-label"></label>
                        <span class="text-danger">*</span>
                        <select asp-for="SoalAkademik.Kategori" class="col-md-4 form-control">
                            <option selected></option>
                            <option value="MIPA">MIPA</option>
                            <option value="IPS">IPS</option>
                            <option value="TPA">TPA</option>
                        </select>
                        <span asp-validation-for="SoalAkademik.Kategori" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SoalAkademik.BatasWaktu" class="col-form-label"></label>
                        <span class="text-danger">*</span>
                        <div class="input-group">
                            <input asp-for="SoalAkademik.BatasWaktu" class="col-md-5 form-control" />
                            <div class="input-group-append">
                                <a class="text-white btn bg-secondary">Menit</a>
                            </div>
                        </div>
                        <span asp-validation-for="SoalAkademik.BatasWaktu" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SoalAkademik.Deskripsi" class="col-form-label"></label>
                        <span class="text-danger">*</span>
                        <textarea asp-for="SoalAkademik.Deskripsi" class="form-control"></textarea>
                    </div>
                    <div class="my-1 fa-pull-right">
                        <button class="btn border" data-dismiss="modal">Batal</button>
                        <button type="submit" class="btn btn-primary">Tambah</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="ModalUbahSoalAkademik" data-keyboard="false" data-backdrop="static" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Ubah Soal Akademik</h4>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <form class="form" asp-controller="Admin" asp-action="UbahSoalAkademik" method="post">
                    <input asp-for="SoalAkademik.Id" type="hidden" />
                    <div class="form-group">
                        <label asp-for="SoalAkademik.Judul" class="col-form-label"></label>
                        <span class="text-danger">*</span>
                        <input asp-for="SoalAkademik.Judul" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="SoalAkademik.Kategori" class="col-form-label"></label>
                        <span class="text-danger">*</span>
                        <select asp-for="SoalAkademik.Kategori" class="form-control" >
                            <option selected></option>
                            <option value="MIPA">MIPA</option>
                            <option value="IPS">IPS</option>
                            <option value="TPA">TPA</option>
                        </select>
                        <span asp-validation-for="SoalAkademik.Kategori" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SoalAkademik.BatasWaktu" class="col-form-label"></label>
                        <span class="text-danger">*</span>
                        <div class="input-group">
                            <input asp-for="SoalAkademik.BatasWaktu" class="col-md-5 form-control" />
                            <div class="input-group-append">
                                <a class="text-white btn bg-secondary">Menit</a>
                            </div>
                        </div>
                        <span asp-validation-for="SoalAkademik.BatasWaktu" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SoalAkademik.Deskripsi" class="col-form-label"></label>
                        <span class="text-danger">*</span>
                        <textarea asp-for="SoalAkademik.Deskripsi" class="form-control"></textarea>
                    </div>
                    <div class="my-1 fa-pull-right">
                        <button class="btn border" data-dismiss="modal">Batal</button>
                        <button type="submit" class="btn btn-primary">Simpan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function ubahSoalAkademikModal(id) {
            $("#ModalUbahSoalAkademik .form").hide();
            $("#ModalUbahSoalAkademik .spinner-border").show();
            $('#ModalUbahSoalAkademik').modal();

            $.get(`/Admin/UbahSoalAkademik/${id}`, (data) => {
                $("#ModalUbahSoalAkademik .form").show();
                $("#ModalUbahSoalAkademik .spinner-border").hide();
                $('#ModalUbahSoalAkademik .form [name="SoalAkademik.Id"]').val(data.id);
                $('#ModalUbahSoalAkademik .form [name="SoalAkademik.Judul"]').val(data.judul);
                $('#ModalUbahSoalAkademik .form [name="SoalAkademik.Kategori"]').val(data.kategori);
                $('#ModalUbahSoalAkademik .form [name="SoalAkademik.BatasWaktu"]').val(data.batasWaktu);
                $('#ModalUbahSoalAkademik .form [name="SoalAkademik.Deskripsi"]').val(data.deskripsi);
            });
        }
    </script>
}