@model KelolaSoalWawancaraModel
@{
    ViewBag.Title = "Kelola Soal Wawancara";
}
<div class="mb-4">
    <p>
        Tempat mengelola soal wawancara. Untuk menambah soal baru bisa klik tombol tambah soal wawancara.
        Untuk menambah, menghapus, atau mengubah pertanyaan bisa klik tombol detail disetiap soal yang ada
    </p>
    <button data-target="#ModalTambahSoalWawancara" data-toggle="modal" class="btn btn-success btn-icon-split">
        <span class="icon text-white"><i class="fas fa-pen"></i></span>
        <span class="text">Tambah Soal Wawancara</span>
    </button>
</div>
@if (Model.ListSoal.Count() < 1)
{
    <div>Kosong</div>
}
else
{
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">List Staff</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0" cellpadding="5">
                    <thead class="table-warning text-dark">
                        <tr>
                            <th><b>Judul Soal   </b></th>
                            <th><b>Jalur        </b></th>
                            <th><b>Target       </b></th>
                            <th><b>Pertanyaan   </b></th>
                            <th><b>Aksi         </b></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var soalWawancara in Model.ListSoal)
                        {
                            <tr>
                                <td>@soalWawancara.Judul</td>
                                <td>@soalWawancara.Jalur</td>
                                <td>@soalWawancara.Target</td>
                                <td>@soalWawancara.JumlahPertanyaan</td>
                                <td>
                                    <a asp-controller="Admin" asp-action="RincianSoalWawancara" asp-route-id="@soalWawancara.Id"
                                       class="btn btn-info">
                                        Rincian
                                    </a>
                                    <button onclick="ubahSoalWawancaraModal(@soalWawancara.Id)" data-toggle="modal" class="btn btn-warning">
                                        Ubah
                                    </button>
                                    <form asp-controller="Admin" asp-action="HapusSoalWawancara" asp-route-id="@soalWawancara.Id"
                                          method="post" class="delete-button mt-1">
                                        <button type="submit" onclick="return confirm('Apa anda yakin ingin menghapus Soal @soalWawancara.Judul?')"
                                                class="btn btn-danger">
                                            Hapus
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

@*Modal*@
<div id="ModalTambahSoalWawancara" data-keyboard="false" data-backdrop="static" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Tambah Soal Wawancara</h4>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-controller="Admin" asp-action="TambahSoalWawancara" method="post">
                    <div class="form-group">
                        <label asp-for="SoalWawancara.Judul" class="col-form-label"></label>
                        <span class="text-danger">*</span>
                        <input asp-for="SoalWawancara.Judul" class="form-control" />
                        <span asp-validation-for="SoalWawancara.Judul" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SoalWawancara.Jalur" class="col-form-label"></label>
                        <span class="text-danger">*</span>
                        <select asp-for="SoalWawancara.Jalur" class="form-control">
                            <option selected></option>
                            <option value="Reguler">Reguler</option>
                            <option value="Khusus">Khusus</option>
                            <option value="Prestasi">Prestasi</option>
                            <option value="Mitra">Mitra</option>
                            <option value="Mutasi">Mutasi</option>
                        </select>
                        <span asp-validation-for="SoalWawancara.Jalur" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SoalWawancara.Target" class="col-form-label"></label>
                        <span class="text-danger">*</span>
                        <select asp-for="SoalWawancara.Target" class="form-control">
                            <option selected></option>
                            <option value="Calon Siswa">Calon Siswa</option>
                            <option value="Orang Tua">Orang Tua</option>
                        </select>
                        <span asp-validation-for="SoalWawancara.Target" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SoalWawancara.Deskripsi" class="col-form-label"></label>
                        <span class="text-danger">*</span>
                        <textarea asp-for="SoalWawancara.Deskripsi" class="form-control" cols="2"></textarea>
                    </div>
                    <div class="my-1 fa-pull-right">
                        <button class="btn border" data-dismiss="modal">Batal</button>
                        <button type="submit" class="btn btn-primary">Tambah</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="ModalUbahSoalWawancara" data-keyboard="false" data-backdrop="static" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Ubah Soal Wawancara</h4>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <form class="form" asp-controller="Admin" asp-action="UbahSoalWawancara" method="post">
                    <input type="hidden" asp-for="SoalWawancara.Id" />
                    <div class="form-group">
                        <label asp-for="SoalWawancara.Judul" class="col-form-label"></label>
                        <span class="text-danger">*</span>
                        <input asp-for="SoalWawancara.Judul" class="form-control" />
                        <span asp-validation-for="SoalWawancara.Judul" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SoalWawancara.Jalur" class="col-form-label"></label>
                        <span class="text-danger">*</span>
                        <select asp-for="SoalWawancara.Jalur" class="form-control">
                            <option selected></option>
                            <option value="Reguler">Reguler</option>
                            <option value="Khusus">Khusus</option>
                            <option value="Prestasi">Prestasi</option>
                            <option value="Mitra">Mitra</option>
                            <option value="Mutasi">Mutasi</option>
                        </select>
                        <span asp-validation-for="SoalWawancara.Jalur" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SoalWawancara.Target" class="col-form-label"></label>
                        <span class="text-danger">*</span>
                        <select asp-for="SoalWawancara.Target" class="form-control">
                            <option selected></option>
                            <option value="Calon Siswa">Calon Siswa</option>
                            <option value="Orang Tua">Orang Tua</option>
                        </select>
                        <span asp-validation-for="SoalWawancara.Target" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SoalWawancara.Deskripsi" class="col-form-label"></label>
                        <span class="text-danger">*</span>
                        <textarea asp-for="SoalWawancara.Deskripsi" class="form-control" cols="2"></textarea>
                    </div>
                    <div class="my-1 fa-pull-right">
                        <button class="btn border" data-dismiss="modal">Batal</button>
                        <button type="submit" class="btn btn-primary">Simpan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section  Scripts {
    <script>
        function ubahSoalWawancaraModal(id) {
            $("#ModalUbahSoalWawancara .form").hide();
            $("#ModalUbahSoalWawancara .spinner-border").show();
            $('#ModalUbahSoalWawancara').modal();

            $.get(`/Admin/UbahSoalWawancara/${id}`, (data) => {
                $("#ModalUbahSoalWawancara .form").show();
                $("#ModalUbahSoalWawancara .spinner-border").hide();
                $('#ModalUbahSoalWawancara .form [name="SoalWawancara.Id"]').val(data.id);
                $('#ModalUbahSoalWawancara .form [name="SoalWawancara.Judul"]').val(data.judul);
                $('#ModalUbahSoalWawancara .form [name="SoalWawancara.Jalur"]').val(data.jalur);
                $('#ModalUbahSoalWawancara .form [name="SoalWawancara.Target"]').val(data.target);
                $('#ModalUbahSoalWawancara .form [name="SoalWawancara.Deskripsi"]').val(data.deskripsi);
            });
        }
    </script>
}