@model RincianStaffModel
@{
    ViewBag.Title = Model.Staff.NamaLengkap;
}
<div class="mb-4">
    <p>
        Pada halaman ini berisi rincian dari staff dengan nama @Model.Staff.NamaLengkap.<br />
    </p>

    <div class="row">
        <div class="col-md-6 col-lg-7">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Rincian Staff</h6>
                </div>
                <div class="card-body">
                    <div>
                        <div><label asp-for="Staff.Nip"></label>:<label>@Model.Staff.Nip</label></div>
                        <div><label asp-for="Staff.NamaLengkap"></label>:<label>@Model.Staff.NamaLengkap</label></div>
                        <div><label asp-for="Staff.Email"></label>:<label>@Model.Staff.Email</label></div>
                        <div><label asp-for="Staff.NoHp"></label>:<label>@Model.Staff.NoHp</label></div>
                        <div><label asp-for="Staff.Jabatan"></label>:<label>@Model.Staff.Jabatan</label></div>
                        <div><label asp-for="Staff.Username"></label>:<label>@Model.Staff.Username</label></div>
                        <div>
                            <button data-target="#ModalUbahStaff" data-toggle="modal"
                                    class="btn btn-warning fa-pull-right">
                                Perbarui informasi
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (Model.Panitia == null)
        {
            <div class="col-md-6 col-lg-5">
                <p>
                    Staff ini tidak terdaftar dalam kepanitiaan. Klik tombol di bawah untuk menambahkan panitia
                </p>
                <button data-target="#ModalTambahPanitia" data-toggle="modal" class="btn btn-success">Tambah Panitia</button>
            </div>
        }
        else
        {
            <div class="col-md-6 col-lg-5">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Panitia</h6>
                    </div>
                    <div class="card-body">
                        <div>
                            <div><label asp-for="Panitia.Acara"></label>:<label>@Model.Panitia.Acara</label></div>
                            <div><label asp-for="Panitia.Divisi"></label>:<label>@Model.Panitia.Divisi</label></div>
                            <div>
                                <form asp-controller="Admin" asp-action="HapusPanitia" asp-route-staffId="@Model.Id" method="post">
                                    <button type="submit" class="btn btn-danger fa-pull-right"
                                            onclick="return confirm('Apa anda yakin ingin menghapus panitia dari staff ini?')">
                                        Hapus Panitia
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div>
        <a asp-controller="Admin" asp-action="KelolaStaff" class="btn btn-secondary btn-icon-split">
            <span class="icon text-white"><i class="fas fa-arrow-left"></i></span>
            <span class="text">Kembali</span>
        </a>
    </div>
</div>
@*Modal*@
<div id="ModalTambahPanitia" data-keyboard="false" data-backdrop="static" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Tambah panitia</h4>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-controller="Admin" asp-action="TambahPanitia" method="post">
                    <div>
                        <input hidden asp-for="Id" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Panitia.Acara" class="col-form-label"></label>
                        <span class="text-danger">*</span>
                        <select asp-for="Panitia.Acara" class="custom-select form-control">
                            <option selected></option>
                            <option value="PSB">Penerimaan Siswa Baru</option>
                        </select>
                        <span asp-validation-for="Panitia.Acara" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Panitia.Divisi" class="col-form-label"></label>
                        <span class="text-danger">*</span>
                        <select asp-for="Panitia.Divisi" class="custom-select form-control">
                            <option selected></option>
                            <option value="Tes">Tes</option>
                            <option value="Pendaftaran">Pendaftaran</option>
                        </select>
                        <span asp-validation-for="Panitia.Divisi" class="text-danger"></span>
                    </div>
                    <div class="my-1 fa-pull-right">
                        <button class="btn border" data-dismiss="modal">Batal</button>
                        <button type="submit" class="btn btn-primary">Tambah</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="ModalUbahStaff" data-keyboard="false" data-backdrop="static" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Perbarui data staff</h4>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-controller="Admin" asp-action="UbahStaff"
                      method="post" id="staff-form">
                    <div>
                        <input hidden asp-for="Id" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Staff.Nip" class="col-form-label"></label>
                        <span class="text-danger">*</span>
                        <input asp-for="Staff.Nip" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="Staff.NamaLengkap" class="col-form-label"></label>
                        <span class="text-danger">*</span>
                        <input asp-for="Staff.NamaLengkap" class="form-control"/>
                        <span asp-validation-for="Staff.NamaLengkap" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Staff.Email" class="col-form-label"></label>
                        <span class="text-danger">*</span>
                        <input asp-for="Staff.Email" class="form-control" />
                        <span asp-validation-for="Staff.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Staff.NoHp" class="col-form-label"></label>
                        <input asp-for="Staff.NoHp" class="form-control" />
                        <span asp-validation-for="Staff.NoHp" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Staff.Jabatan" class="col-form-label"></label>
                        <span class="text-danger">*</span>
                        <select asp-for="Staff.Jabatan" class="custom-select form-control">
                            <option selected></option>
                            <option value="Admin">Admin</option>
                            <option value="Tata Usaha">Tata Usaha</option>
                            <option value="Waka Kesiswaan">Waka Kesiswaan</option>
                        </select>
                        <span asp-validation-for="Staff.Jabatan" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Staff.Username" class="col-form-label"></label>
                        <span class="text-danger">*</span>
                        <input asp-for="Staff.Username" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="Staff.Password" class="col-form-label"></label>
                        <span class="text-danger">*</span>
                        <input asp-for="Staff.Password" class="form-control" type="password" />
                        <span asp-validation-for="Staff.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Staff.ConfirmPassword" class="col-form-label"></label>
                        <input asp-for="Staff.ConfirmPassword" class="form-control" type="password" />
                        <span asp-validation-for="Staff.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="my-1 fa-pull-right">
                        <button class="btn border" data-dismiss="modal">Batal</button>
                        <button type="submit" class="btn btn-primary">Simpan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
     Additional script 
    <script>
    @if (ViewBag.Pesan != null)
    {
        @: alert("@ViewBag.Pesan");
    }
    </script>
}
