@model JawabSoalAkademikModel
@*Content*@
<div class="row">
    <div class="col-lg-9">
        <div class="card shadow mb-4">
            <div class="d-block card-header py-3">
                <h5 class="m-0 font-weight-bold text-primary">Pertanyaan</h5>
            </div>
            <div class="card-body">
                <form asp-controller="Test" asp-action="Seleksi" method="post">
                    <div class="border-bottom mb-2">@Html.Raw(Model.Pertanyaan.Pertanyaan)</div>
                    <div class="border-bottom mb-2">
                        <input hidden asp-for="Pertanyaan.PertanyaanId" value="@Model.Pertanyaan.PertanyaanId" />
                        <input hidden asp-for="Pertanyaan.SoalId" value="@Model.Pertanyaan.SoalId" />
                        <div class="radio">
                            <input type="radio" class="mr-2" value="A" asp-for="Pertanyaan.JawabanCalonSiswa" />
                            A. @Model.Pertanyaan.OpsiA
                        </div>
                        <div class="radio">
                            <input type="radio" class="mr-2" value="B" asp-for="Pertanyaan.JawabanCalonSiswa" />
                            B. @Model.Pertanyaan.OpsiB
                        </div>
                        <div class="radio">
                            <input type="radio" class="mr-2" value="C" asp-for="Pertanyaan.JawabanCalonSiswa" />
                            C. @Model.Pertanyaan.OpsiC
                        </div>
                        <div class="radio">
                            <input type="radio" class="mr-2" value="D" asp-for="Pertanyaan.JawabanCalonSiswa" />
                            D. @Model.Pertanyaan.OpsiD
                        </div>
                        @if (Model.Pertanyaan.OpsiE != null)
                        {
                            <div class="radio">
                                <input type="radio" class="mr-2" value="E" asp-for="Pertanyaan.JawabanCalonSiswa">
                                E. @Model.Pertanyaan.OpsiE
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div style="text-align: left;" class="col-6">
                            @if (Model.PrevId != -1)
                            {
                                <a asp-controller="Ujian" asp-action="JawabSoalAkademik" asp-route-qid="@Model.PrevId" asp-route-soalId="@Model.Pertanyaan.SoalId"
                                   class="btn btn-info text-white">Selanjutnya</a>
                            }
                        </div>
                        <div style="text-align:right;" class="col-6">
                            @if (Model.NextId != -1)
                            {
                                <a asp-controller="Ujian" asp-action="JawabSoalAkademik" asp-route-qid="@Model.NextId" asp-route-soalId="@Model.Pertanyaan.SoalId"
                                   class="btn btn-info text-white">Selanjutnya</a>
                            }
                            else
                            {
                                <a asp-controller="Ujian" asp-action="Index"
                                   class="btn btn-info text-white">Selesai</a>
                            }
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

@*SideMap*@
<div class="col-lg-3">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 style="text-align:center" id="sisawaktu"
                    class="m-0 font-weight-bold text-dark">
                    
                </h6>
            </div>
            @*<div class="card-body row">
                @for (int j = 0; j < model.listpertanyaan.count(); j++)
                {
                    <a href="#pertanyaan@(j+1)" class="col-3">@(j + 1)</a>
                }
            </div>*@
        </div>
    </div>
</div>

@section Scripts {
    <script>
        const timeText = "@Model.BatasWaktu";
        const time = moment(timeText, "MM-DD-YYYY hh:mm:ss A");
        const timeLeft = moment.utc(time - moment()).format("HH:mm:ss");

        $('#sisaWaktu').text(timeLeft);
        setInterval(() => {
            const timeLeft = moment.utc(time - moment()).format("HH:mm:ss");
            $("#sisawaktu").text(timeLeft);
        }, 1000);
    </script>
}