@model JawabSoalAkademikModel
@*Content*@
<div class="row">
    <div class="col-lg-9">
        <div class="card shadow mb-4">
            <div class="d-block card-header py-3">
                <h5 class="m-0 font-weight-bold text-primary">Pertanyaan @Model.NoPertanyaan</h5>
            </div>
            <div class="card-body">
                <form asp-controller="Ujian" asp-action="JawabSoalAkademik" method="post">
                    <div class="border-bottom mb-2">@Html.Raw(Model.Pertanyaan)</div>
                    <div class="border-bottom mb-2">
                        <input hidden asp-for="PertanyaanId" value="@Model.PertanyaanId" />
                        <input hidden asp-for="SoalId" value="@Model.SoalId" />
                        <div class="radio">
                            <input type="radio" class="mr-2" value="A" asp-for="JawabanCalonSiswa" />
                            A. @Model.OpsiA
                        </div>
                        <div class="radio">
                            <input type="radio" class="mr-2" value="B" asp-for="JawabanCalonSiswa" />
                            B. @Model.OpsiB
                        </div>
                        <div class="radio">
                            <input type="radio" class="mr-2" value="C" asp-for="JawabanCalonSiswa" />
                            C. @Model.OpsiC
                        </div>
                        <div class="radio">
                            <input type="radio" class="mr-2" value="D" asp-for="JawabanCalonSiswa" />
                            D. @Model.OpsiD
                        </div>
                        @if (Model.OpsiE != null)
                        {
                            <div class="radio">
                                <input type="radio" class="mr-2" value="E" asp-for="JawabanCalonSiswa">
                                E. @Model.OpsiE
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div style="text-align: left;" class="col-6">
                            @if (Model.PrevId != -1)
                            {
                                <button type="submit" name="@nameof(Model.Tujuan)" value="@Model.PrevId" class="btn btn-info text-white">Sebelumnya</button>
                            }
                        </div>
                        <div style="text-align:right;" class="col-6">
                            @if (Model.NextId != -1)
                            {
                                <button type="submit" name="@nameof(Model.Tujuan)" value="@Model.NextId" class="btn btn-info text-white">Selanjutnya</button>
                            }
                            else
                            {
                                <button type="submit" asp-controller="Ujian" asp-action="SelesaiUjianAkademik" class="btn btn-info text-white">
                                    Selesai
                                </button>
                            }
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @*SideMap*@
    <div class="col-lg-3">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 style="text-align:center" id="sisawaktu"
                    class="m-0 font-weight-bold text-dark">
                    -- : -- : --
                </h6>
            </div>
            <div class="card-body row">
                @for (int j = 0; j < Model.MapPertanyaan.Count; j++)
                {
                    <div class="col-3">
                        <a asp-controller="Ujian" asp-action="JawabSoalAkademik" asp-route-soalId="@Model.SoalId"
                           asp-route-qid="@Model.MapPertanyaan[j]" class="btn btn-default border">@(j + 1)</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        const timeText = "@Model.BatasWaktu";
        console.log(timeText);
        const time = moment(timeText, "MM-DD-YYYY hh:mm:ss A");
        console.log(time);
        setInterval(() => {
            const timeLeft = moment.utc(time - moment()).format("HH:mm:ss");
            $("#sisawaktu").text(timeLeft);
        }, 1000);
    </script>
}