@model KelolaMutasiMasukModel
@{
    ViewBag.Title = "Kelola Mutasi Masuk";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Kelola Mutasi Masuk</h6>
    </div>
    <div class="card-body">
        <div class="mb-4">
            <p>
                Tekan tombol Tambah dibawah untuk menambah mutasi masuk
            </p>
            <button data-target="#ModalDaftarBaruMutasiMasuk" data-toggle="modal" class="btn btn-success btn-icon-split">
                <span class="icon text-white"><i class="fas fa-pen"></i></span>
                <span class="text">Tambah Mutasi Masuk</span>
            </button>
        </div>

        @if (Model.ListAkunMutasi.Count() < 1)
        {
            @: kosong
        }
        else
        {
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0" cellpadding="5">
                    <thead class="table-warning text-dark">
                        <tr>
                            <th>No Pendaftaran  </th>
                            <th>Nama Lengkap    </th>
                            <th>Asal Sekolah    </th>
                            <th>Status          </th>
                            <th>Aksi            </th>
                            <th>Daftar Ulang    </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var akun in Model.ListAkunMutasi)
                        {
                            <tr>
                                <td>@akun.NoPendaftaran</td>
                                <td>@akun.NamaLengkap</td>
                                <td>@akun.SekolahAsal</td>
                                <td class="text-center">
                                    @if (akun.Status.Equals("Daftar Baru"))
                                    {
                                        <p class="card bg-secondary text-white">@akun.Status</p>
                                    }
                                    else if (akun.Status.Equals("Sudah Ujian"))
                                    {
                                        <p class="card bg-warning text-white">@akun.Status</p>
                                    }
                                    else if (akun.Status.Equals("Lolos"))
                                    {
                                        <p class="card bg-success text-white">@akun.Status</p>
                                    }
                                    else if (akun.Status.Equals("Tidak Lolos"))
                                    {
                                        <p class="card bg-danger text-white">@akun.Status</p>
                                    }
                                    else if (akun.Status.Equals("Daftar Ulang"))
                                    {
                                        <p class="card bg-primary text-white">@akun.Status</p>
                                    }
                                <td class="text-center">
                                    <a asp-controller="TataUsaha" asp-action="BuktiPendaftaran" asp-route-id="@akun.Id">
                                        Bukti Pendaftaran
                                    </a>
                                    <a> | </a>
                                    <a href="#">Rincian</a>
                                </td>
                                <td class="text-center">
                                    @if (akun.Status.Equals("Lolos"))
                                    {
                                        <form asp-controller="TataUsaha" asp-action="DaftarUlangMutasiMasuk" asp-route-id="@akun.Id" method="post">
                                            <button class="btn btn-primary">Daftar Ulang</button>
                                        </form>
                                    }
                                    else if (akun.Status.Equals("Daftar Ulang"))
                                    {
                                        <p class="text-dark">Sudah Menjadi Siswa</p>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>

@*Modal*@
<div id="ModalDaftarBaruMutasiMasuk" data-keyboard="false" data-backdrop="static" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Tambah Akun Mutasi Masuk</h4>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-controller="TataUsaha" asp-action="DaftarBaruMutasiMasuk" method="post">
                    <div class="form-group">
                        <label asp-for="MutasiMasuk.NamaLengkap" class="col-form-label"></label>
                        <span class="text-danger">*</span>
                        <input asp-for="MutasiMasuk.NamaLengkap" class="form-control" />
                        <span asp-validation-for="MutasiMasuk.NamaLengkap" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MutasiMasuk.SekolahAsal" class="col-form-label"></label>
                        <span class="text-danger">*</span>
                        <input asp-for="MutasiMasuk.SekolahAsal" class="form-control" />
                        <span asp-validation-for="MutasiMasuk.SekolahAsal" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MutasiMasuk.Nik" class="col-form-label"></label>
                        <span class="text-danger">*</span>
                        <input asp-for="MutasiMasuk.Nik" class="form-control" />
                        <span asp-validation-for="MutasiMasuk.Nik" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MutasiMasuk.Nisn" class="col-form-label"></label>
                        <span class="text-danger">*</span>
                        <input asp-for="MutasiMasuk.Nisn" class="form-control" />
                        <span asp-validation-for="MutasiMasuk.Nisn" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MutasiMasuk.TanggalUjian" class="col-form-label"></label>
                        <span class="text-danger">*</span>
                        <input asp-for="MutasiMasuk.TanggalUjian" class="form-control" />
                        <span asp-validation-for="MutasiMasuk.TanggalUjian" class="text-danger"></span>
                    </div>
                    <div class="my-1 fa-pull-right">
                        <button class="btn border" data-dismiss="modal">Batal</button>
                        <button type="submit" class="btn btn-primary">Tambah</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>