@model BuktiPendaftaranModel

<div class="col-md-10 col-lg-8">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Bukti Pendaftaran</h6>
        </div>
        <div class="card-body">
            <table class="table-borderless">
                <tbody>
                    <tr>
                        <td><label asp-for="@Model.NoPendaftaran"></label></td>
                        <td><label>:</label></td>
                        <td><label>@Model.NoPendaftaran</label></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.JalurPendaftaran"></label></td>
                        <td><label>:</label></td>
                        <td><label>@Model.JalurPendaftaran</label></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.NamaLengkap"></label></td>
                        <td><label>:</label></td>
                        <td><label>@Model.NamaLengkap</label></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.isLunas"></label></td>
                        <td><label>:</label></td>
                        <td>
                            @if (Model.isLunas)
                            {
                                <label>Lunas</label>
                            }
                            else
                            {
                                <label>Tidak Lunas</label>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Password"></label></td>
                        <td><label>:</label></td>
                        <td><label>@Model.Password</label></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.JadwalTes"></label></td>
                        <td><label>:</label></td>
                        <td><label>@Model.JadwalTes</label></td>
                    </tr>
                </tbody>
            </table>
            <div class="fa-pull-right">
                <button onclick="window.open('/Print/BuktiPendaftaran/@Model.Id', 'newwindow', 'width=800,height=500'); return false;"
                        class="btn btn-warning text-white">
                    Cetak
                </button>
                @if (User.IsInRole("Psb Pendaftaran"))
                {
                    <a asp-controller="PsbPendaftaran" asp-action="ListDaftarBaru" class="btn btn-secondary">Selesai</a>
                }
                else if (User.IsInRole("Tata Usaha"))
                {
                    <a asp-controller="TataUsaha" asp-action="KelolaMutasiMasuk" class="btn btn-secondary">Selesai</a>
                }
            </div>
        </div>
    </div>
</div>
