@model KelolaDataAkademikTerakhir

<div>
    <h3><b>Akademik Terakhir</b></h3>
    <table class="table-borderless">
        <tr>
            <td><label asp-for="@Model.NamaSekolah"></label></td>
            <td><label> : </label></td>
            <td><label>@Model.NamaSekolah</label></td>
        </tr>
        <tr>
            <td><label asp-for="@Model.JenisSekolah"></label></td>
            <td><label> : </label></td>
            <td><label>@Model.JenisSekolah</label></td>
        </tr>
        <tr>
            <td><label asp-for="@Model.StatusSekolah"></label></td>
            <td><label> : </label></td>
            <td><label>@Model.StatusSekolah</label></td>
        </tr>
        <tr>
            <td><label asp-for="@Model.AlamatSekolah"></label></td>
            <td><label> : </label></td>
            <td><label>@Model.AlamatSekolah</label></td>
        </tr>
        <tr>
            <td><label asp-for="@Model.NoPesertaUn"></label></td>
            <td><label> : </label></td>
            <td><label>@Model.NoPesertaUn</label></td>
        </tr>
        <tr>
            <td><label asp-for="@Model.NoSeriSkhun"></label></td>
            <td><label> : </label></td>
            <td><label>@Model.NoSeriSkhun</label></td>
        </tr>
        <tr>
            <td><label asp-for="@Model.NoSeriIjazah"></label></td>
            <td><label> : </label></td>
            <td><label>@Model.NoSeriIjazah</label></td>
        </tr>
    </table>
</div>