@model SeleksiModel
@{
    ViewBag.Title = "Penentuan Jalur Reguler";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Sudah ujian</h6>
    </div>
    <div class="card-body">
        @if (Model.ListAkun.Count() < 1)
        {
            @: kosong
        }
        else
        {
            <form method="post">
                <p>
                    <a class="text-dark"><b>Calon siswa lolos sampai peringkat</b></a>
                    <div class="form-inline">
                        <input class="form-control col-2 mr-2" />
                        <button type="submit" class="btn btn-primary">Seleksi</button>
                    </div>
                </p>
            </form>
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0" cellpadding="5">
                    <thead class="table-warning text-dark">
                        <tr>
                            <th>No Pendaftaran  </th>
                            <th>Nama Lengkap    </th>
                            <th>MIPA            </th>
                            <th>IPS             </th>
                            <th>TPA             </th>
                            <th>Skor Akhir      </th>
                            <th>Peringkat       </th>
                            <th>Tes Wawancara   </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var akun in Model.ListAkun)
                        {
                            int i = 0;
                        <tr>
                            <td>@akun.NoPendaftaran</td>
                            <td>@akun.NamaLengkap</td>
                            <td>@akun.NilaiMipa</td>
                            <td>@akun.NilaiIps</td>
                            <td>@akun.NilaiTpa</td>
                            <td>@akun.SkorAkhir</td>
                            <td>@(i+1)</td>
                            <td class="text-center"><button class="btn btn-info">Lihat</button></td>
                            <td class="text-center"><button class="btn btn-info">Lihat</button></td>
                            <td><button>Update Status</button></td>
                        </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>